@import "common.less";

/*============页面样式开始==============*/
html,body{
	font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","Hiragino Sans GB",SimSun,sans-serif;
	color: #333;
}

.p_header{
	position: absolute;
	top: 0;
	left: 23px;
	.transition(left ease 0.5s);
	right: 0;
	height: 35px;
	background: #fff;
	overflow: hidden;
	line-height: 35px;
	box-sizing: border-box;
	font-size: 14px;
	color: #666;
	padding: 0 10px;
	&.active{
		left: 180px;
		.transition(left ease 0.5s);
	}
	.shadow;
	.iconfont{
		font-size: 16px;
		cursor: pointer;
	}
	.totals{
		i{
			&.icon-filter-off{
				display: initial;
			}
			&.icon-filter-on{
				display: none;
			}
		}
		span{
			font-size: 18px;
		}
		&.active{
			i{
				&.icon-filter-off{
					display: none;
				}
				&.icon-filter-on{
					display: initial;
				}
			}
		}
	}
}
.p_left{
	position: absolute;
	top: 0;
	left: -180px;
	bottom: 0;
	width: 180px;
	background: @g_blue;
	.transition(left ease 0.5s);
	.sidemenu{
		width: 180px;
		background: @g_blue;
		.top{
			height: 120px;
			text-align: center;
			padding: 20px 0 10px 0;
			color: #fff;
			.g_black_fn(background, .15);
			border-bottom: 1px solid @bd_gray;
			.user-img{
				border: 2px solid @bd_gray;
				width: 60px;
				height: 60px;
				margin: 0 auto;
				line-height: 52px;
				border-radius: 60px;
				background: #3D74CE;
				font-size: 36px;
				color: #fff;
			}
			.user-infor{
				margin-top: 10px;
				font-size: 14px;
				.name{
					font-size: 16px;
				}
				.job{
					margin-top: 5px;
					.left{
						border-radius:3px;
						padding: 2px 5px;
						.g_orange_fn(background, .6);
					}
					.right{
						margin-left: 5px;
						font-size: 12px;
						padding: 0 4px;
						border-radius: 3px;
						border: 1px solid @bd_gray;
					}

				}
			}
		}
		.bottom{
			color: #fff;
			text-align: center;
		}
	}
	&.active{
		left: 0;
		.transition(left ease 0.5s);
	}
}
/*=============菜单开关===========*/
.p_menu_btn{
	position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    font-size: 19px;
    color: #fff;
    background: #3871D0;
    padding: 2px 5px 5px 5px;
    cursor: pointer;
    .transition(left ease 0.5s);
    .shadow;
    &:hover{
    	background: #2D5AA7;
    	.transition(background 0.3s);
    }
    &.active{
    	box-shadow: initial;
    	left: 151px;
    	.transition(left ease 0.5s);
    }
}
/*============右侧总计===========*/
.p_totals{
	position: absolute;
	left: 0;
	.transition(left 0.5s);
	top: 35px;
	right: 0px;
	box-sizing: border-box;
	padding: 5px 0 0 0;
	background: #fff;
	.shadow;
	max-height: 200px;
	overflow-y: auto;
	border-top: 1px solid @bd_gray;
	border-bottom: 1px solid @bd_gray;
	z-index: 5;
	display: none;
	span{
		border: 1px solid @g_blue;
	    padding: 2px 3px;
	    margin: 0 0 0 5px;
	    display: inline-block;
	    max-width: 100px;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    border-radius: 3px;
	    color: #2553A0;
	    cursor: pointer;
	    .transition(ease 0.3s);
	    &:hover,&.active{
	    	max-width: initial;
	    	color: #fff;
	    	background: @g_blue;
	    	.transition(ease 0.3s);
	    	.transition(max-width 0.3s);
	    }
	}
	&.active{
		display: block;
	}
	&.menu-active{
		.transition(left 0.5s);
		left: 180px;
	}
}

/*============右侧详情页============*/
.p_right{
	position: absolute;
	left: 0;
	.transition(left 0.5s);
	top: 35px;
	right: 0;
	bottom: 0;
	overflow: auto;
	&.active{
		left: 180px;
		.transition(left 0.5s);
	}
	.water-fall{
		float: left;
		overflow: hidden;
		box-sizing: border-box;
		padding: 5px;
		.img-box{
			float: left;
			border: 1px solid #e7e7e7;
	    	padding: 5px;
	    	background: #fff;
	    	margin-bottom: 5px;
	    	width: 100%;
	    	box-sizing: border-box;
	    	.shadow;
			img{
				box-sizing: border-box;
				width: 100%;
				.transition(ease 0.3s);
				border: 1px solid @bd_gray;
				&.onloading{
					height: 0;
					width: 0;
				}
			}
			.img-info{
				padding: 2px 5px;
			    font-size: 16px;
			    color: #999;
			    // white-space: nowrap;
			    // overflow: hidden;
			    // text-overflow: ellipsis;
			    box-sizing: border-box;
			}
			&.active{
				overflow: hidden;
				.animation(shineBlue 5s infinite);
				img{
					.animation(bigger 3s linear infinite alternate)
				}
			}
		}
	}
}


// css3 动画
.biggercommon(){
	0%{
		.pre(transform, scale(1))
	}
	50%{
		.pre(transform, scale(1.1))
	}
	100%{
		.pre(transform, scale(1))
	}
}
.keyframes(@name){
	@-webkit-keyframes @name{
		 .biggercommon()
	}
	@-moz-keyframes @name{
		 .biggercommon()
	}
	@-ms-keyframes @name{
		 .biggercommon()
	}
	@keyframes @name{
		 .biggercommon()
	}
}

.shinecommon(){
	0%{
		box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
	}
	50%{
		box-shadow: 0px 0px 18px rgba(2,13,247,1);
	}
	100%{
		box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
	}
}
.shinekeyframes(@name){
	@-webkit-keyframes @name{
		 .shinecommon()
	}
	@-moz-keyframes @name{
		 .shinecommon()
	}
	@-ms-keyframes @name{
		 .shinecommon()
	}
	@keyframes @name{
		 .shinecommon()
	}
}

.keyframes(bigger);
.shinekeyframes(shineBlue);