/**
 * 全局公用的css，pc和h5共用
 * ！！禁止在这个文件里添加业务样式！！
 */
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
body {
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","Hiragino Sans GB",SimSun,sans-serif;
	background: #f9f9f9;
}
a {
	text-decoration: none;
}
.clearfix:after {
	content:".";display:block;height:0;clear:both;visibility:hidden
}
.clearfix {
	*height: 1%;
}
.m20 {
  margin: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.p20 {
  padding: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.m15 {
  margin: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.p15 {
  padding: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}
.m10 {
  margin: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.p10 {
  padding: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.m5 {
  margin: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.p5 {
  padding: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pr5 {
  padding-right: 5px;
}

.vat {
	vertical-align: top;
}
.vab {
	vertical-align: bottom;
}
.vam {
	vertical-align: middle;
}
.fn_hide {
	display: none;
}
.f_right {
	float: right;
}
.f_left {
	float: left;
}
.tx_l {
	text-align: left;
}
.tx_c {
	text-align: center;
}
.tx_r {
	text-align: right;
}
/* 去除inline-block的间隙 */
.tx_ns {
	font-size: 0;
  -webkit-text-size-adjust:none; /* 解决 webkit 内核限制最小字体大小问题 */
}
.dis_b {display:block} /*块级*/
.dis_in {*display: inline;*zoom: 1;display:inline} /*内联*/
.dis_inb {display:inline-block} /*内联块级*/ 
.dis_none {display:none} /*隐藏*/ 
.tx_unbr {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tx_br {
	word-wrap: break-word;
	word-break: normal;
}
.tx_unbr2 {
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.tx_12 {
	font-size: 12px;
}
.tx_13 {
	font-size: 13px;
}
.tx_14 {
	font-size: 14px;
}
.tx_15 {
	font-size: 15px;
}
.tx_16 {
	font-size: 16px;
}
.tx_18 {
	font-size: 18px;
}
.tx_24 {
	font-size: 24px;
}
.tx_b {
	font-weight: bold;
}
.tx_n {
	font-weight: normal;
}
.tx_udl {
	text-decoration: underline;
}
.tx_del {
	text-decoration: line-through;
}
.tx_song {
	font-family: "Simsun";
}
.tx_yh {
	font-family: "MicroSoft YaHei","SimHei";
}
.tx_orange {
	color: #ff6600;
}
.tx_gray {
	color: #999999;
}
.tx_lh_1 {
  line-height: 1;
}
.pos_rel {
	position: relative;
}
.pos_abs {
	position: absolute;
}
.hidden {
    display: none;
}
.no_hidden {
    display: block;
}
.a_blue{
	color:#005487;
}